body, html{
width: 100%;
height: 100%;
font-family: 'Roboto', sans-serif;
scroll-behavior: smooth;
}


/* CAROUSEL */
#carousel-item-1{
    height: 53rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("heading.jpg");
}

#carousel-item-2{
    height: 53rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("lounge.jpg");
}

#carousel-item-3{
    height: 53rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("kids-traveling.jpg");
}

h5 + p{
    color: #fff;
}

.start-button{
    margin-bottom: 25rem;
}

/* LAYOUT */
.potision{
    display: inline-block;
    -webkit-column-break-inside: avoid;
}

.form_layout{
    width: 30%;
    margin: auto;
}

.content-section{
    width: 100%;
    height: auto;
    min-height: 55rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    display: table;   
    background-color: #212c3f;
}

.content-section-secondary{
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding-top: 6.5rem;
    padding-bottom: 10rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    display: table; 
    background-color: #eff2f1;
}


.large-button{
    background-color: #fff;
    color: #0d3552;
    height: 9rem;
    width: 9rem;
    display: block;
    font-size: 3rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    
}

.large-button-secondary{
    height: 4.5rem;
    width: 15rem;
    display: block;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 3.5rem;
    
}

.header{
    background-image: url("heading.jpg");
    color: #fff;
}

.footer{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("footer.jpg");
}

.title{
    font-weight: 700;
    color: #fff;
    /* More noticeable text shadow on lighter font */
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
                 0px 8px 13px rgba(0,0,0,0.1), 
                 0px 18px 23px rgba(0,0,0,0.1);
}

.title-secondary{
    font-weight: 700;
    color: #212c3f;
    /* Slight text shadow on darker font */
    text-shadow: 0px 2px 2px rgba(0,0,0,0.2), 
                 0px 4px 7px rgba(0,0,0,0.05), 
                 0px 9px 12px rgba(0,0,0,0.05);
}

.text-shadow{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
                 0px 8px 13px rgba(0,0,0,0.1), 
                 0px 18px 23px rgba(0,0,0,0.1);
}

.text-shadow-slight{
    text-shadow: 0px 2px 2px rgba(0,0,0,0.2), 
                 0px 4px 7px rgba(0,0,0,0.05), 
                 0px 9px 12px rgba(0,0,0,0.05);
}

.tile{
    min-width: 20rem;
    min-height: 20rem;
    background-color: #fff; 
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

#reviews{
    background-color: #fff;
}

/* NAVBAR */
.navbar{
    padding-top: 0.7rem;
    margin-bottom: 0.7rem;
    background-color: #fff!important;
    border-bottom: 3.5px solid #5cb85c;
}

.nav-link{
 font-size: 1.2rem;
 transition: color 400ms, font-size 400ms;
 display: inline;
}

.navbar .navbar-nav > li > a:hover{
       color: #0d3552!important;
       font-size: 1.4rem;
}

.navbar div > .navbar-brand{
    transition: color 375ms, font-size 400ms;
    display: inline!important;
}

.navbar div > .navbar-brand:hover{
    color: #5cb85c;
}

.navbar-brand{
font-size: 1.2rem;
}

/* CSS GRID */

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tile-4{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("big-ben.jpg");
        text-align: center;
        transition: opacity 400ms;
}

.tile-3{
    grid-column: 1/3;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("wall-of-china.jpg");
    text-align: center;
    transition: opacity 400ms;
}

.tile-2{
    grid-column: 2/4;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("paris.jpg");
    text-align: center;
    transition: opacity 400ms;
}

.tile-1{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("tropical.jpg");
    text-align: center;
    transition: opacity 400ms;
}

.wrapper > div:hover{
    opacity: 0.3;
}

@media screen and (max-width: 480px){
.wrapper{
    display: block;
}
}

#map{
    height: 400px;
    width: 100%;
}












